@css-class-color: @light-orange;
@css-property-name-color: @css-gray;
@css-text-color: @css-gray;
@css-terminator-color: @orange;
@css-property-value-color: @lime-green;
@css-constant-numeric-color: @blue;
@css-elements-color: @css-gray;
@css-elements-weight: normal;
@css-unit-color: @css-gray;

.editor {

  .sintax--css {

    &.sintax--class {
      color: @css-class-color;
    }

    .sintax--property-name {
      color: @css-property-name-color;
    }

    .sintax--separator {
      color: @css-text-color;
    }

    .sintax--terminator {
      color: @css-terminator-color;
    }

    .sintax--section {
      color: @css-text-color;
    }

    .sintax--property-value {
      color: @css-property-value-color;
    }

    .sintax--constant {
      &.sintax--numeric {
        color: @css-constant-numeric-color;
      }
    }

    .sintax--elements {
      color: @css-elements-color;
      font-weight: @css-elements-weight;
    }

    .sintax--unit {
      color: @css-unit-color;
    }

  }

}
