@html-primary-orange: @light-orange;
@html-primary-text: @pale-blue;
@html-quoted-text: @lime-green;

.editor {

  .syntax--html {

    .syntax--string {
      color: @html-quoted-text;
    }

    .syntax--punctuation {
      &.syntax--definition{
        &.syntax--tag {
          color: @html-primary-orange;
        }
        &.syntax--string {
          color: @html-quoted-text;
        }
      }
    }

    .syntax--entity {
      &.syntax--name.syntax--tag {
        color: @html-primary-orange;
      }

      &.syntax--other.syntax--attribute-name {
        color: @html-primary-text;
      }
    }

  }

}
