@html-primary-orange: @light-orange;
@html-primary-text: @pale-blue;
@html-quoted-text: @lime-green;

.editor {

  .sintax--html {

    .sintax--string {
      color: @html-quoted-text;
    }

    .sintax--punctuation {
      &.sintax--definition{
        &.sintax--tag {
          color: @html-primary-orange;
        }
        &.sintax--string {
          color: @html-quoted-text;
        }
      }
    }

    .sintax--entity {
      &.sintax--name.sintax--tag {
        color: @html-primary-orange;
      }

      &.sintax--other.sintax--attribute-name {
        color: @html-primary-text;
      }
    }

  }

}
