@js-storage-type-function-color: @orange;
@js-storage-type-function-weight: bold;
@js-storage-modifier-color: @orange;
@js-storage-modifier-weight: bold;
@js-comment-double-slash-color: @light-gray;
@js-comment-double-slash-font-style: inherit;
@js-comment-block-color: @light-gray;
@js-comment-block-font-style: inherit;
@js-comment-block-documentation-color: @green;
@js-comment-block-documentation-font-style: normal;
@js-operator-color: @pale-blue;
@js-delimiter-comma-color: @orange;
@js-delimiter-period-color: @pale-blue;
@js-support-class-color: @light-orange;
@js-function-name-color: @light-orange;
@js-punctuation-terminator-color: @orange;
@js-entity-name-type: @purple;
@js-string-quoted: @green;
@js-keyword-control: @orange;
@js-variable: @orange;
@js-variable-object: @pale-blue;
@js-variable-property: @purple;
@js-constant: @pale-blue;
@js-constant-language-boolean: @orange;
@js-numeric: @blue;

.editor .syntax--js {

  .syntax--storage.syntax--type.syntax--function {
    color: @js-storage-type-function-color;
    font-weight: @js-storage-type-function-weight;
  }

  .syntax--storage.syntax--modifier {
    color: @js-storage-modifier-color;
    font-weight: @js-storage-modifier-weight;
  }

  .syntax--comment {

    &.syntax--double-slash {
      color: @js-comment-double-slash-color;
      font-style: @js-comment-double-slash-font-style;

      .syntax--punctuation {
        color: @js-comment-double-slash-color;
        font-style: @js-comment-double-slash-font-style;
      }
    }

    &.syntax--block {
      color: @js-comment-block-color;
      font-style: @js-comment-block-font-style;

      .syntax--punctuation {
        color: @js-comment-block-color;
        font-style: @js-comment-block-font-style;
      }

      &.syntax--documentation {
        color: @js-comment-block-documentation-color;
        font-style: @js-comment-block-documentation-font-style;

        .syntax--punctuation {
          color: @js-comment-block-documentation-color;
          font-style: @js-comment-block-documentation-font-style;
        }
      }
    }

  }

  .syntax--operator {
    color: @js-operator-color;
  }

  .syntax--delimiter {

    &.syntax--comma {
      color: @js-delimiter-comma-color;
    }

    &.syntax--period {
      color: @js-delimiter-period-color;
    }

  }

  .syntax--support.syntax--class {
    color: @js-support-class-color;
  }

  .syntax--function {
    .syntax--name {
      color: @js-function-name-color;
    }
  }

  .syntax--punctuation.syntax--terminator {
    color: @js-punctuation-terminator-color;
  }

  .syntax--entity {
    &.syntax--name.syntax--function {
      color: @js-function-name-color;
    }
    &.syntax--name.syntax--type {
      color: @js-entity-name-type;
      text-decoration: none;
    }
  }

  .syntax--keyword {

    &.syntax--operator {
      color: @js-operator-color;
    }

    &.syntax--control {
      color: @js-keyword-control;
    }
  }

  .syntax--variable {
    color: @js-variable;

    &.syntax--other.syntax--object {
      color: @js-variable-object;
    }

    &.syntax--other.syntax--property {
      color: @js-variable-property;
    }
  }

  .syntax--constant {
    color: @js-constant;
    &.syntax--language.syntax--boolean{
      color: @js-constant-language-boolean
    }

    &.syntax--numeric {
      color: @js-numeric;
    }
  }

  .syntax--string {
    color: @js-string-quoted;
  }

}
