@ts-block: @light-gray;
@ts-keyword: @orange;
@ts-primary-string: @green;
@ts-primary-text: @pale-blue;
@ts-object-parameter: @purple;
@ts-variable: @purple;
@ts-method: @light-orange;

.editor {

  .syntax--ts {
    color: @ts-block;

    .syntax--punctuation {
      color: @ts-primary-text;

      &.syntax--terminator {
        color: @ts-keyword;
      }

      &.syntax--separator {
        color: @ts-keyword;

        &.syntax--key-value {
          color: @ts-primary-text;
        }
      }

      &.syntax--block {
        color: @ts-primary-text;
      }
    }

    &.syntax--comment {
      color: @ts-block;

      &.syntax--documentation {
        color: @ts-primary-string;
      }
    }

    .syntax--brace {
      color: @ts-primary-text;
    }

    .syntax--storage {
      color: @ts-keyword;
    }

    .syntax--keyword {
      color: @ts-keyword;

      &.syntax--other {
        color: @ts-keyword;
        font-weight: bold;
      }

      &.syntax--operator {
        color: @ts-primary-text;
      }

      &.syntax--assignment {
        color: @ts-primary-text;
      }
    }

    .syntax--boolean {
      color: @ts-keyword;
    }

    .syntax--import {
      color: @ts-keyword;
    }

    .syntax--modifier {
      color: @ts-keyword;
    }

    .syntax--method {
      color: @ts-method;
    }

    .syntax--class {
      color:@ts-keyword;

      &.syntax--todo {
        color: @lime-green;
      }
    }

    .syntax--string {
      color: @ts-primary-string;
    }

    .syntax--support {
      color: @ts-primary-text;

      &.syntax--function {
        color: @ts-method;
      }

      &.syntax--primitive {
        color: @ts-keyword;
      }
    }

    .syntax--variable {
      color: @ts-primary-text;

      &.syntax--property {
        color: @ts-variable;
      }

      &.syntax--this {
        color:@ts-keyword;
      }

      &.syntax--object {
        color: @ts-primary-text;
      }
    }

    .syntax--variable.syntax--parameter {
      color: @ts-primary-text;
    }

    .syntax--meta{
      color: @ts-primary-text;

      &.syntax--object-literal {
        color: @ts-variable;

        &.syntax--function {
          color: @ts-method;
        }

        &.syntax--key {
          color: @ts-variable;
        }
      }

      &.syntax--object.syntax--member {
        color: @ts-object-parameter;
      }
      &.syntax--brace.syntax--square {
        color: @ts-primary-text;
      }
      &.syntax--array.syntax--literal {
        color: @ts-primary-text;
      }
    }

    .syntax--entity {
      color: @ts-primary-text;

      &.syntax--type {
        color: @ts-primary-text;
        text-decoration: none;
      }

      &.syntax--function {
        color: @ts-method;
      }
    }

  }

}
